<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1> Bienvenido al panel de control </h1>

    <hr>

    <style>

        body {
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        hr {
            border-width: 1px;
            border-color: black;
        }

        h1 {
            margin: 10px 0px 0px 0px;
            font-size: 18px;
            display: grid;
            place-items: center;
        }


    </style>
    
</body>
</html>